

	<%= render  partial: "layouts/header"%>
    <br/><br/><br/>


<div class="intro-block down">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <%= image_tag('person_writing.jpeg', class: 'img-circle img-responsive img1') %>
            </div>
            <div class="col-xs-9">
                <h1 class="forget_me_not title">Forget me not</h1><br/><br/>
                <p class="first">A unique app designed to help you memorize all you always wanted to learn </p>
            </div>
            </div>
        </div>
    </div>    
</div>



<!-- Explaining the piles -->

<div class=" interact">
    <hr>

    <div class="row">
        <div class="col-lg-12"><h2>Three piles to interact with</h2><hr></div>
    </div>
    <div class="row piles">
        <div class="col-xs-12 col-sm-4 padd">
            <%= image_tag('lady_on_computer.jpeg', class: 'img-circle img-responsive imright') %>
            <br/>
            <h3>Things I'm learning<br/><span class="grey">~practice pile~</h3><br/><br/>
             <p class="center"><%= link_to("Practice now", practice_path, :class => "btn btn-large btn-primary") %></p></span><br/>
         
            <p>The pile consisting of <strong>5</strong> cards is the pile you work on every learning session.<br> After a card has been viewed a minimum of 15 times, it it directed to the "Things I have learned" pile. It is then replaced by a new card from the "things I want learn" pile. <small>The cycle described above starts only after the initial pile has been viewed 15 times. From that time on, all the cards in the pile have been viewed 15 times. This allows the process of adding and retrieving cards to start since the first card can only be taken away after having been view 15 times.</p>

            
        </div>
        <div class="col-xs-12 col-sm-4 piles padd ">
                <%= image_tag('pile.jpeg', class: 'img-circle img-responsive flashcard imright') %>
                <br/><br/>
                
                <h3 class="paragraph2">Things I want to learn<br/>
                    <span class="grey">~reserve pile~</span><br/></h3><br/><br/>
                <p class="center"><%= link_to('Go to the reserve pile', reserve_path, :class => "btn btn-large btn-primary"  ) %></p>
                <p class="paragraph2">Where you put the "cards" you want to learn. They will automatically go to the Practice pile when needed. Copy paste or write the back and front content of what you want to learn and build your pile. The flow of cards will happen automatically</p>
                <br/>
                
        </div>
            
        <div class="col-xs-12 col-sm-4 piles padd">
                <%= image_tag('pile_of_flashcards.jpeg', class: 'img-circle img-responsive imright') %>
               <br/>
              
                <h3>Things I have learned<br/><span class="grey">~"I know it" pile~</span></h3><br/>
                  <p class="center"><%= link_to('See what I have already learned', learned_path, :class => "btn btn-large btn-primary") %></p>
                  <br/>
                  <br/>


                <p>Things you have already learned. You can go to this pile and review.</p>
                <br/>
                <br/><br/><br/>
             
        </div>
        <br/>
    </div>
  </div>




