<%= render partial: 'layouts/header'%><br><br>
<div class="container down">

	 <div class="container">
	 	<div class="row">
    <div class="row col-sm-6">
      <%= link_to('Go to the reserve pile', reserve_path, :class => "btn btn-large btn-primary") %></div>
     </div>
     <br/>
     <div class="row">

    
          <%= link_to("Let's practice!", practice_path, :class => "btn btn-large btn-primary") %>
      </div>
    </div>
</div>

	<h1>"I know it" pile</h1>



 <% @learned_stack.cards.each do |card| %>
<div class="row down">
  <div class="col-xs-1">
    <%= button_to "delete", {controller: :cards, action: :destroy, id: card.id }, :method => :delete %>
  </div>
  <div class="col-xs-4">
   <div data-card="<%= card.id %>" class="frontr"><%= card.title %></div>
 </div>

 <div class="col-xs-5">
   <div id="<%= card.id %>" class="backr"><%= card.content %></div>
 </div>



 <div class="clearfix hidden-md hidden-lg"></div>
</div>
<hr/>

<%end%>
  
  







