<%= render partial: 'layouts/header'%><br><br>

<div class="container down">	
	<div class="row">
    <div class="row col-sm-6">
      <%= link_to('Add cards', reserve_path, :class => "btn btn-large btn-primary") %>
    </div>
  </div>
  <br/>

     
  <div class="row">    
    <%= link_to("Practice!", practice_path, :class => "btn btn-large btn-primary") %>
  </div>
</div> <!-- /.container down -->

<h1>"I know it" pile</h1>

<% @learned_stack.cards.each do |card| %>
  <div class="row down">
    <div class="col-xs-1">
      <%= button_to "delete", {controller: :cards, action: :destroy, id: card.id }, :method => :delete ,id: 'button'%>
     <!--  <button class="putback">Put back</button>  -->
    </div>
    <div class="col-xs-4">
      <% if card.imgurl.nil? %>
        <div data-card="<%= card.id %>" class="frontr"><%= card.title %></div>
      <% else %>
        <div data-card="<%= card.id %>" class="frontr"><%= image_tag(card.imgurl, class: 'img-responsive', id: 'cardpict') %></div>
      <% end %>
    </div> <!-- /.col-xs-4 -->

    <div class="col-xs-5">
      <div id="<%= card.id %>" class="backr"><%= card.content %></div>
    </div>

    <div class="clearfix hidden-md hidden-lg"></div>
  </div> <!-- /.row down -->
  <hr/>
<%end%>

<!-- <script src="/assets/learned.js"></script> -->
  

  <%= javascript_include_tag "learned" %>







