	<%= render partial: 'layouts/header'%>


 <!-- Navigation to other pages -->


  
  <div class="container top_page">
    <div class="row">
     <div class="col-xs-6">
    <%= link_to("Practice!", practice_path, :class => "btn btn-large btn-primary") %>
    </div>
   <div class="col-xs-6">
 <%= link_to('I know it', learned_path, :class => "btn btn-large btn-primary") %>
   </div>
  </div>
</div>
<br/><br/>

  <!-- Forms to create 1 card  -->
   <h4><em>Add cards to the reserve pile</em></h4> 
<div class="container form">
  <br/>

<%= form_for :card do |f| %>

  <div class="row">
    <div class="col-md-6">
      <br/>
      <%= f.label :'front of card' %>&nbsp
      <%= f.text_area :title %>
    </div>
    <div class="col-md-6"><br/>
      <%= f.label :'back of card' %>&nbsp
      <%= f.text_area :content %><br/><br/>
    </div>
  </div>


 <%= f.submit "Add card", class: "btn btn-info btn btn-md", id: "savebutton" %><br/><br/>

</div>
<% end %>
<br/>
 <h4><em>You can also use an image as the front of the card</em></h4> 
<div class="container form">
<%= form_for :card do |f| %>

  <div class="row">
    <div class="col-md-6">
      <br/>
      <%= f.label :'Image from the web - Front of the card', id: 'card_imgurl' %></br>
        <span id="card_imgurl">Just copy paste the image url in this box </span>
      <%= f.text_area :imgurl %>
    </div>
    <div class="col-md-6"><br/>
      <%= f.label :'back of card' %><br/>text<br/>
      
      <%= f.text_area :content %><br/><br/>
    </div>
  </div>


 <%= f.submit "Add card", class: "btn btn-info btn btn-md", id: "savebutton" %><br/><br/>

</div>
<% end %>


  <h1>Cards in the reserve pile</h1>
  
<!-- Show the List of Cards in Reserve pile -->

  <% if  @reserve_stack == nil || @reserve_stack.cards == nil || @reserve_stack.cards.empty? %>
  <div class="notify">
    <div class="row col-sm-4 col-sm-offset-4">
      <h4>The reserve pile is empty, please add more cards</h4>
    </div>
  </div>
  <% else %>
  <div class="notify col-sm-4 col-sm-offset-4 ">
        <p>Cards left in pile : <strong><%= @reserve_stack.cards.length %></strong> </p>
    </div>
   <% end %>

     <div class="clearfix hidden-md hidden-lg">
     </div>
     <br/>
     
 <!--  show cards -->
  <% @reserve_stack.cards.reverse.each do |card| %>
<div class="row down">
  <div class="col-xs-1">
    <%= button_to "delete", {controller: :cards, action: :destroy, id: card.id }, :method => :delete,id:'button' %>
  </div>
  <div class="col-xs-4">
    <% if card.imgurl.nil? %>
   <div data-card="<%= card.id %>" class="frontr"><%= card.title %></div>
    <% else %>
    <div data-card="<%= card.id %>" class="frontr"><%= image_tag(card.imgurl, class: 'img-responsive', id: 'cardpict') %></div>

    <% end %>
 </div>

 <div class="col-xs-5">
   <div id="<%= card.id %>" class="backr"><%= card.content %></div>
 </div>



 <div class="clearfix hidden-md hidden-lg"></div>
</div>
<hr/>

<%end%>